// File: assets/main.scss

@import "_mixins";
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
@import '~bulma';

// Typography.
html, body {
    font-family: $font-family-2;
    color: $text-color;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-1;
    color: $header-color;
    font-weight: 800;
    -webkit-font-smoothing: subpixel-antialiased;
}
h1 {
    font-size: 2.5rem;
    letter-spacing: -0.05rem;
}

// Logo.
.logo {
    font-family: $font-family-1;
    font-size: 2rem;
    font-weight: 900;
    color: $primary-color;

    span {
        font-weight: 700;
    }
}

// Page.
.app-wrap {
    height: 100vh;
    position: relative;
}

// Navbar.
.navbar {
    background-color: rgba(255,255,255,.9);
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.navbar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    &:first-of-type {
        display: block;
    }
}
@include tablet {
    .navbar {
        top: 0;
        bottom: auto;
    }
    .navbar-item {
        flex: 0;

        &:first-of-type {
            margin-right: auto;
        }
    }
}



// Page transitions.
/* Enter and leave animations can use different */
/* durations and timing functions.              */



.portal-wrap {
    position: relative;
  }
  .portal-element {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(25,25,25,.5);

    &:nth-of-type(1) {
        transform: scale(.9) translate3d(0, 0, 0);
    }
    &:nth-of-type(2) {
        transform: scale(.8) translate3d(10px, 10px, 0);
    }
    &:nth-of-type(3) {
        transform: scale(.7) translate3d(20px, 20px, 0);
    }
    &:nth-of-type(4) {
        transform: scale(.6) translate3d(30px, 30px, 0);
    }
    &:nth-of-type(5) {
        transform: scale(.5) translate3d(40px, 40px, 0);
    }
    &:nth-of-type(6) {
        transform: scale(.4) translate3d(50px, 50px, 0);
    }
  }