// File: assets/main.scss

@import url("https://use.typekit.net/hlm3dxp.css");
@import "_mixins";
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
@import '~bulma';

// Colors.
$primary-color:   #3d4676;
$seconday-color:  #e85b6f;
$header-color:    #212A44;
$text-color:      #7F7B91;

// Fonts.
$font-family-1: "effra", "Helvetica Neue", Arial, sans-serif;
$font-family-2: "quasimoda", "Helvetica Neue", Arial, sans-serif;


// Typography.
html, body {
    font-family: $font-family-2;
    color: $text-color;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-1;
    color: $header-color;
    font-weight: 800;
    -webkit-font-smoothing: subpixel-antialiased;
}
h1 {
    font-size: 2.5rem;
    letter-spacing: -0.05rem;
}

// Logo.
.logo {
    font-family: $font-family-1;
    font-size: 2rem;
    font-weight: 900;
    color: $primary-color;

    span {
        font-weight: 700;
    }
}

// Page.
.app-wrap {
    height: 100vh;
    position: relative;

    section {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        min-height: 100vh;
    }
}

// Navbar.
.navbar {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.navbar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    &:first-of-type {
        display: block;
    }
}
@include tablet {
    .navbar {
        top: 0;
        bottom: auto;
    }
    .navbar-item {
        flex: 0;

        &:first-of-type {
            margin-right: auto;
        }
    }
}


.background-effect {
    position: relative;

    span {
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
        background: $primary-color;
        box-shadow: inset 0 10px 13px rgba(0,0,0,.25);

        &:nth-of-type(1) {
            background: shade($primary-color, 15%);
            transform: translate3d(0, 0, 10%);
        }
    }
}


// Page transitions.
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.page-enter-active {
    transition: all .3s ease;
}
.page-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.page-enter,
.page-leave-to {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
}


.portal-wrap {
    position: relative;
  }
  .portal-element {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(25,25,25,.5);

    &:nth-of-type(1) {
        transform: scale(.9) translate3d(0, 0, 0);
    }
    &:nth-of-type(2) {
        transform: scale(.8) translate3d(10px, 10px, 0);
    }
    &:nth-of-type(3) {
        transform: scale(.7) translate3d(20px, 20px, 0);
    }
    &:nth-of-type(4) {
        transform: scale(.6) translate3d(30px, 30px, 0);
    }
    &:nth-of-type(5) {
        transform: scale(.5) translate3d(40px, 40px, 0);
    }
    &:nth-of-type(6) {
        transform: scale(.4) translate3d(50px, 50px, 0);
    }
  }